<div class="row text-center">
    <link href="/css/card.css" rel="stylesheet">
    <div class="card-container center"> <!-- ontouchstart="this.classList.toggle('hover');" -->
                <div class="flipper">
                    <div class="front">
                        <div class="nav">
                            <img src="{{ pictureUrl }}">
                        </div>

                        <div id="name" class="title-entry" editable-text="formattedName" >{{ formattedName }}</div>
                        <div id="job-title" class="info-entry"><a href="#" editable-text="headline">{{ headline }}</a></div>
                        <div id="website" class="info-entry"><a href="#" editable-text="website">{{ website }}</a></div>
                        <div id="email" class="info-entry"><a href="#" editable-text="email">{{ email }}</a></div>
                        <div id="phone" class="info-entry"><a href="#" editable-text="phoneNumber">{{ phoneNumber }}</a></div>
                        <div id="location" class="info-entry"><a href="#" editable-text="location">{{ location }}</a></div>
                    </div>
                </div>
            </div>
</div>
