<div class="row text-center">
<div>
    <p>
        <h1>{{ save }}</h1>
    </p>

  <accordion close-others='oneAtATime'>
      <accordion-group heading="{{ card.cardTitle }}" ng-repeat="card in me.cards">
          <div class="row text-center">
              <link href="/css/card.css" rel="stylesheet">
              <div class="card-container center"> <!-- ontouchstart="this.classList.toggle('hover');" -->
                <div class="flipper">
                          <div class="front">
                              <div class="nav">
                                    <a href="#" editable-text="card.pictureUrl"><img src="{{ card.pictureUrl }}"></a>
                              </div>

                              <div id="name" class="title-entry" editable-text="card.formattedName" >{{ card.formattedName }}</div>
                              <div id="job-title" class="info-entry"><a href="#" editable-text="card.headline">{{ card.headline }}</a></div>
                              <div id="website" class="info-entry"><a href="#" editable-text="card.website">{{ card.website }}</a></div>
                              <div id="email" class="info-entry"><a href="#" editable-text="card.email">{{ card.email }}</a></div>
                              <div id="phone" class="info-entry"><a href="#" editable-text="card.phoneNumber">{{ card.phoneNumber }}</a></div>
                              <div id="location" class="info-entry"><a href="#" editable-text="card.location">{{ card.location }}</a></div>
                          </div>
                      </div>
                  </div>
                </div>
  </accordion-group>
</accordion>
<br />

<button class="btn btn-primary" ng-click="onSave()">Save</button>
