<!DOCTUPE html>
<html ng-app="linkedinApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatable" content="IE-edge">
        <title>Tecnicaltest - linkedin</title>


    </head>
    <body>

    </body>

    <div ng-controller="linkedinController">
        <b><a href="/oauth/linkedin">Login!</a></b>
    </div>

    <script src="/js/vendor/angular/angular.js"></script>
    <script src="/js/vendor/angular-resource/angular-resource.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/linkedinController.js"></script>

    </body>
</html>
